#box{
  border: 10px solid green;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.mark{
  width: 10px;
  height: 10px;
  background-color: purple;
  border-radius: 100%;
  position: absolute;
}
